*.class
run
release
/.idea/
*.iml
/target/
/src/test/java/org/elasticsearch/plugin/
/org/elasticsearch/river/ubb/settings/EEASettings.class
pom.xml.versionsBackup
pom.xml.releaseBackup
.classpath
.project
.DS_Store
.settings
/bin


